.div-form-style {
  margin-left: 8px;
}
.div-style {
  margin-left: 23px;
}
.mat-expansion-panel-header {
  height: 48px;
  margin-bottom: 16px;
  margin-top: 16px;
}
.mat-expansion-panel {
  margin-bottom: 16px;
}
